_csharp/ESBServiceTechPackage/RestClient.http
_csharp/ESBServiceTechPackage/bin/*
_csharp/ESBServiceTechPackage/obj/*
_service/ObjectFactory/*
# _service/SqlHelper/*

!_service/ObjectFactory/DB$CON.json
